select {
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    line-height: 25px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%), linear-gradient(to right, rgb(0, 191, 165), rgb(0, 191, 165));
    background-position: calc(100% - 16px) calc(1em - 1px), calc(100% - 11px) calc(1em - 1px), 100% 0;
    background-repeat: no-repeat;
    background-size: 5px 6px, 5px 6px, 2em 2.5em;
    padding: 5px;
}
.project-select {
    padding: 10px 22px;
    display: block;
}
